body{display: grid;
grid-template-columns: repeat(100,1fr) ;}


aside{grid-column: span 3;
  position: relative;
  top: 100px;
  left: 50px;
  
}

#menu p{
        vertical-align:middle; 
      }
#menu img{
   justify-content: flex-start;
   width: 30px;
   height: 30px;
  }
.videos{
    /*justify-content: center;*/
    left: 150px;
    display: flex;
    height: 12px;
    position: relative;
    top: 20px;
    }

#categorias{
  text-align: center;
  text-justify:auto;
  font-size: 25px;
  margin-top: 25px;
  /*letter-spacing: 1pt;*/
  /*padding-inline-start:1em;*/
  }
 